<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.becsupport.android.arunachalnews">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    android:hardwareAccelerated="true"
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ArunachalNews"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".ArunachalNews"
            android:screenOrientation="portrait"
            android:theme="@style/aboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.becsupport.android.arunachalnews.Setting" />
        </activity>
        <activity
            android:name=".Setting"
            android:label="Setting"
            android:launchMode="singleTask"
            android:parentActivityName=".ArunachalNews"
            android:screenOrientation="portrait"
            android:theme="@style/aboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.becsupport.android.arunachalnews.ArunachalNews" />
        </activity>
        <activity
            android:name=".earn.Earn"
            android:label="Earn"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/aboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.becsupport.android.arunachalnews.ArunachalNews" />
        </activity>

        <service android:name=".fcm.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".notification.Notice"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/aboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.becsupport.android.arunachalnews.ArunachalNews" />
        </activity>
    </application>

</manifest>